.search {
  width: 100%;
  position: relative;
  display: flex;
}
.titleSearch{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 35px;
  color:white;
  letter-spacing: 1.5px;
 
}
.subTitleSearch{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  color:white;
}

.searchInput {
  width: 100%;
  //border: 3px solid #cc0000;
  padding: 5px;
  height: 4rem;
  border-radius: 8px;
  outline: none;
  color: #adadad;
  border-radius: 50px;
  text-indent: 20px;
  border:none;
  font-size: 18px;
}

.searchTerm:focus{
  color: #cc0000;
}

.searchButton {  
  height: 4rem;
  border-radius: 50px;
  border: 1px solid #cc0000;
  background: #cc0000;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
	margin-left: 10px;
  padding: 1.3rem 3rem 2rem 3rem;
  font-weight: bold;
}

.wrap{
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}