.imageContainer {
  width: 100%;
	flex-wrap: wrap;
	background-image: url('../public/landingImg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  //padding-top: 75px;
}