.navbar {
  height: 40px;
  width: 100%;
  padding: 10px;
  padding-left: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--white);
}

.logoImg {
  margin: 10px;
}