.main {
  width: 100%;
  flex: 1;
  display: flex;

  .grid {
    width: 100%;
    display: grid;
    grid-template-areas: "left center right";
    grid-template-columns: 1fr 3fr 1fr;

    .center, .left, .right {
      padding: 0 15px;
    }

    /* .left .right {
      min-width: 260px;
    } */

    .center {
      grid-area: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .left {
      grid-area: left;
      min-width: 260px;
    }

    .right {
      grid-area: right;
      min-width: 260px;
    }
  }
}