.card {
  border-radius: 5px;
  box-shadow: var(--shadow-md);
  background-color: var(--white);
  cursor: pointer;
  width: 215px;
  height: 100%;

  &:hover{
    box-shadow: var(--shadow-lg);
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: var(--duration-300);
  }

  .image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 135px;
    padding: 7px;

    .price {
      font-weight: 500;
      font-size: var(--font-normal);
      margin-top: auto;
    }
  
    .title {
      font-weight: 500;
      font-size: var(--font-big);
    }
  
    .description {
      font-size: var(--font-smaller);
      color: var(--dark-gray);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 205px;
    }
  }
}