.container {
  position: relative;

  .carousel {
    display: flex;
    overflow-x: hidden;
    max-width: calc(215px*5);

    .wrapper:first-child {
      margin-right: 7px;
    }

    .wrapper:last-child {
      margin-left: 7px;
    }

    .wrapper {
      margin: 0 7px;
    }
  } 
}