:root {
  // color
  --dark-gray: #858585;
  --gray: #bbbbbb;
  --light-gray: #eaeaea;
  --white: #ffffff;

  --yellow: #ffec00;
  --orange: #ffbf00;
  --red: #ff2825;

  // font sizes
  --font-smallest: 0.65em;
  --font-smaller: 0.75em;
  --font-small: 0.85em;
  --font-normal: 1em;
  --font-big: 1.15em;

  // card shadow
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

  // transition duration
  --duration-75: 75ms;
  --duration-100: 100ms;
  --duration-150: 150ms;
  --duration-200: 200ms;
  --duration-300: 300ms;
  --duration-500: 500ms;
  --duration-700: 700ms;
  --duration-1000: 1000ms;

  // border
  --border: 1px solid var(--light-gray);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
